/* Gradient Color */

body {
    background: radial-gradient(circle, rgb(0, 0, 0), rgb(59, 0, 0) 90%);
    background-size: 200% 200%;
    animation: rotate 4s linear infinite;
}

/* Rotating Gradient Color */

@keyframes rotate {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

/* Logo */

#logo{
    max-width: 120px;
    max-height: 120px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

span{
  color: #ffffff;
}

/* Company Name */

@font-face {
    font-family: 'Bord Demo';
    src: url('font/Bord.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    color: silver;
    font-family: 'Bord Demo', fallback, sans-serif;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 15%;
}

/* Company Services */

@font-face {
    font-family: 'Dosis';
    src: url('font/Dosis/Dosis-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#aa{
  top: 23%;
  font-weight: bolder;
  color: #0051ff;
  text-decoration: underline;
  text-decoration-color: chocolate;
  font-family: 'Raxtor';
  font-size: 25px;
}

h2 {
    color: silver;
    font-family: 'Dosis';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 28%;
    font-size: 30px;
    /* letter-spacing: 2px; */
}

#a{
  top: 33%;
}

#b{
  top: 38%;
}

#c{
  top: 43%;
}

#e{
  top: 48%;
}

/* Owner Name */

@font-face {
  font-family: 'RAXTOR';
  src: url('font/RAXTOR/Raxtor-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#ha{
  top: 60%;
  font-weight: bolder;
  color: #0051ff;
  text-decoration: underline;
  text-decoration-color: chocolate;
  font-family: 'Raxtor';
  font-size: 25px;
  margin-top: -10px;
}

h3 {
  color: aqua;
  font-family: 'RAXTOR', fallback, sans-serif;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 67%;
  letter-spacing: 1px;
  margin-top: -10px;
}

/* Phone */

h5{
  color: rgb(146, 199, 199);
  font-family: 'Dosis';
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 69%;
  text-align: center;
  letter-spacing: 1px;
  font-size:26px;
  text-shadow: 1px 1px 1px #ff0000e7;
  margin-top: 20px;
}

#d{
  font-size: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 74%;
  margin-top: 15px;
}

/* Address */

#haa{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 81%;
  font-weight: bolder;
  color: #0051ff;
  text-decoration: underline;
  text-decoration-color: chocolate;
  font-family: 'Raxtor';
  font-size: 25px;
  margin-top: 10px;
}

h4 {
  color: rgb(146, 199, 199);
  font-family: Verdana, Tahoma ;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 88%;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 2px;
}

/* Social Icons */

#social-icons {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    gap: 50px;
    padding: 10px 0;
}

.Instagram{
    color: #C13584;
    font-size: 250%;
}

.Facebook{
    color: #0051ff;
    font-size: 250%;
}

.Website{
    color: #686666;
    font-size: 250%;
}

#footer {
  color: rgb(81, 255, 0);
  font-weight: 800;
}

@media screen and (min-width: 768px) {
  #footer {
    margin-top: 51%;
  }
}

#foot{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 800;
}
